.node-label {
    font-size: 12px;
    padding: 1px 4px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;
}

.info {
    position: absolute;
    z-index: 5000;
    top: 16px;
    left: 16px;
    right: 16px;
    border: 1px dashed rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.75);
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 8px;
    max-width: 500px;
}
